html{
    font-family: 'Rufina',sans-serif;
}

body {
    background-color: #F9F9F9;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #ABD9FF ;
    box-shadow: 3px 0 5px #aaa;
    padding: 15px 20px;
    position: relative;
    z-index: 2;        
}

header .logo {
    font-size: 20px;
    font-family: 'rubik',sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
}


header ul {
    list-style-type: none;
    font-size: 16px;    
}

header ul li {
    display: inline-block;
}

header a {
    transition: color 0.3s ease;
    font-family: 'rubik',sans-serif;
    color: #16213E;
    text-decoration: none;
    font-weight: 700;
    padding: 0px 15px;
}

a:hover{
    color: #CDF0EA;
}

.hero {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 20px 50px;
    justify-content: center;
}

.hero .hero-content {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}


.hero .titulos {
    font-family: 'Rufina',sans-serif;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
}

.hero p {
    font-family: 'Rubik',sans-serif;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.parrafos {
    font-family: 'Rubik',sans-serif;
    font-size: 1.5em;
    margin-bottom: 50px;
}   

.btn {
    background-color: #ABD9FF;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}


.center {
    display: flex;
    justify-content: center;
}

.content {
    width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.padded {
    padding: 20px 30px;
}

.vert-pad {
    padding: 20px 0;
}

.card {
    background-color: #fff;
    box-shadow: 0 1px 2px #ddd;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 20px 30px;
}

.third {
    width: 250px;
    margin: 20px;

}


.img-p {
    border: solid 3px #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.row-project {
    display: inline-flex;
}

.contact-form  input {
    font-family: 'Rubik',sans-serif;
    border: none;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 600px;
}

.contact-form label {
    display: none;
}

.full-width{
    background-color: #ABD9FF;
    width: 100%;
}

.footer {
    background-color: #ABD9FF;
    height: 30px;
    padding: 80px 0 0 0;
}

.social-links {
    margin-top: 20px;
    margin-bottom: 40px;    
}

.social {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
