{% load static %}
<div class="footer">
    <div class="center full-width">
        <div class="row">
            <h3>Contactame</h3>
        </div>
    </div>
    <div class="center full-width">
        <div class="row">
            <p>Tambien puedes seguirme en mis redes sociales</p>
        </div>
    </div>
    <div class="center full-width social-links">
        <div class="row">
            <a href="https://www.linkedin.com/in/victor-lanza-844320244" target="_blank"><img src="{% static 'img/linkedin.png' %}" alt="" class="social" width="30"></a>
            <a href="https://twitter.com/VictorDLaw26?s=08" target="_blank"><img src="{% static 'img/twitter.png' %}" alt="" class="social" width="30"></a>
        </div>
    </div>

</div>