<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1 class="titulos">Desarrollo aplicaciones y paginas web funcionales y de alto nivel</h1>
                <p class="parrafos">Constantemente me encuentro aprendiendo nuevas tecnologias</p>
                <p class="parrafos">Web creada desde 0 con mis conocimientos en Django,Mysql,CSS </p>                
            </div>
            <div class="right padded">
                <h1 class="titulos">si no estas convencido puedes checar mi CV</h1>
                <a href="" class="btn">pincha aqui</a>
            </div>
        </div>

    </div>

</div>

   
